div {
    display: block;
    unicode-bidi: isolate;
}

body {
    font-family: Rubik, sans-serif;
}

.app-root {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.mobile-frame {
    width: 375px;
    height: 812px;
    background: #f7f8f9;
    box-shadow: 0 0 0 1px #00000008;
    overflow: auto;
    border: 1px solid #e7e8e9;
}

.page {
    padding: 20px;
}

.page .main-heading {
    margin-top: 40px;
    width: 188px;
    height: 69px;
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    font-family: Rubik, sans-serif;
    letter-spacing: 0px;
    color: #1d2226;
    opacity: 1;
}

.main-heading {
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 17px;
    font-family: Rubik, sans-serif;
    letter-spacing: 0px;
    color: #1d2226;
    opacity: 1;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bolder;
    unicode-bidi: isolate;
}

.inp-wrap {
    position: relative;
    margin-top: 29px;
}

.inp-label {
    position: absolute;
    top: -8px;
    left: 12px;
    background: #f7f8f9;
    padding: 0 6px;
    display: inline-block;
    font-size: 13px;
    color: #6c25ff;
}

label {
    cursor: default;
}

.req {
    color: #ec3a3a;
    margin-left: 4px;
}


.inp-field {
    width: 335px;
    height: 40px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #CBCBCB;
    background: #f7f8f9;
    box-sizing: border-box;
    font-size: 14px;
    color: #1d2226;
}

input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em 0em 0em 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}

.radio-group .radio-heading {
    font-size: 13px;
    line-height: 17px;
    color: #1d2226;
}

.radio-group .req {
    color: #ec3a3a;
    margin-left: 6px;
}

.radio-options {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.radio-options {
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    font-family: Rubik, sans-serif;
    letter-spacing: 0px;
    opacity: 1;
}

.radio-option {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
}

.radio-option.checked .radio-custom {
    border-color: #6c25ff;
}

.radio-custom {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #CBCBCB;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
}

.radio-text {
    font-size: 14px;
    color: #1d2226;
}

.page.register .fixed-btn {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 736px;
    display: flex;
    justify-content: center;
}

.page.register .fixed-btn .btn {
    width: 335px;
}

.btn.disabled {
    background: #cbcbcb;
    color: #fff;
    cursor: not-allowed;
}

.btn {
    width: 335px;
    height: 46px;
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    font-family: Rubik, sans-serif;
    letter-spacing: 0px;
}