div {
    display: block;
    unicode-bidi: isolate;
}

.app-root {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.mobile-frame {
    width: 375px;
    height: 812px;
    background: #f7f8f9;
    box-shadow: 0 0 0 1px #00000008;
    border: 1px solid #e7e8e9;
}

.welcome {
    position: relative;
    background: #f7f8f9;
    height: 100%;
}

.page {
    padding: 20px;
}

.welcome .content-bottom {
    position: absolute;
    left: 20px;
    bottom: 72px;
}

.page .main-heading {
    margin-top: 40px;
    width: 188px;
    height: 69px;
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    font-family: Rubik, sans-serif;
    letter-spacing: 0px;
    color: #1d2226;
    opacity: 1;
}

.welcome .main-heading {
    font-size: 28px;
    font-weight: 500;
    color: #1d2226;
    margin: 0;
}

.main-heading {
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 17px;
    font-family: Rubik, sans-serif;
    letter-spacing: 0px;
    color: #1d2226;
    opacity: 1;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.page .secondary-text {
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    font-family: Rubik, sans-serif;
    margin-top: 14px;
    letter-spacing: 0px;
    color: #1d2226;
    opacity: .6;
}

.welcome .secondary-text {
    margin-top: 10px;
}

.secondary-text {
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    font-family: Rubik, sans-serif;
    letter-spacing: 0px;
    color: #1d2226;
    opacity: .6;
    margin-top: 10px;
}

* {
    margin: 0;
    padding: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.btn.primary {
    background: #6c25ff;
    color: #fff;
}

.btn {
    width: 335px;
    height: 46px;
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    font-family: Rubik, sans-serif;
    letter-spacing: 0px;
}

.btn.ghost {
    background: #6c25ff4b;
    color: #1d2226;
    border: none;
}